{% extends "skincare_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-sm-12 col-md-10">
				<div class="card rounded-3 py-2 px-2">
					<div class="card-body mx-1">
						<div class="row justify-content-center d-flex align-items-center">
							<div class="col-md-8 col-lg-6 pe-3">
								<img class="img-fluid" src="{% static 'skincare_app/photo4.png' %}">
							</div>
							<div class="col-md-12 col-lg-6">
								<form method="POST">
									{% csrf_token %}
									<p class="my-header text-center pb-3">Log In</p>
									<fieldset class="form-group">
										{{ form|crispy }}
									</fieldset>
									<div class="form-group text-center py-3">
										<button class="btn btn-light btn-lg brown-button" type="submit">Login</button>
									</div>
								</form>
								<div class="text-center mt-2">
									<small class="text-muted">
										Need An Account? <a href="{% url 'register' %}">Sign Up Now</a>
									</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
