body {
    background-color: #F8F7F6;
    font-family: 'Perpetua';
}

.brownbutton {
    border-color: #F8F7F6;
    background-color: #958779;
    color: #F8F7F6;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #958779;
    letter-spacing: 0.2em;
}

.navheader {
    font-family: 'Gistesy', sans-serif;
    font-size: 46px;
    color: #000000;
}

