body {
    background-color: #F8F7F6;
    font-family: 'Perpetua';
}

a {
    color: #A17D60;
}

a:hover {
	color: #896345;
}

a:visited {
	color: #896345;
}

a:active {
	color: #A17D60;
}

.brand-header {
    font-family: 'Gistesy', sans-serif;
    font-size: 42px;
    color: #000000;
}

.my-header {
    font-family: 'Gistesy', sans-serif;
    font-size: 50px;
    color: #000000;
}

.brown-button {
    border-color: #F8F7F6;
    background-color: #958779;
    color: #F8F7F6;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #958779;
    letter-spacing: 0.2em;
}

.account-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 25% 25%;
}